body {
  background-color: #46046d;
  /* border-style: inset;
  border-width: thick;
  border-color: black; */
  text-align: center;
  margin: 180px;
  font-family: monospace;
}

button {
  visibility: hidden;
}
input {
  border-width: thick;
  border-color: inherit;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  background-color: skyblue;
  margin-bottom: 25px;
}
form{
  margin: auto;
  padding: 100px 0px 50px 0px;
  width: 50%;
}
div{
  background-color: white;
}
