body {
  background-color: teal;
  border-style: outset;
  border-width: thick;
  border-color: red;
  text-align: center;
  margin: 250px 180px 0px 180px;
  font-family: monospace;
}

button {
  background-color: green;
  color: white;
  height: auto;
  width: 100%;
  font-size: 1.5rem;
}

input {
  border-width: thick;
  border-color: inherit;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  background-color: skyblue;

}
form{
  margin: auto;
  width: 50%;
}
div{
  background-color: white;
}
